<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>TITLE</th>
                <th>IMAGE</th>
                <th class="m-action">ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let post of postDetail; let i = index">
                <tr *ngIf="username==post.username">
                    <td>{{post.title}}</td>
                    <td><img [src]="post?.postImages[0]?.url" height="50px" width="100px" alt="" /></td>
                    <td>
                        <a class="details" mat-button href="/post/{{post.id}}">Details</a>
                        <a class="delete" mat-button (click)="deletePost(post.id)">Delete</a>
                        <a class="update" mat-button (click)="deletePost(post.id)">Update</a>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>