.register-section {
    margin: 100px;
}

.contact-form {
    position: absolute;
    margin-top: 65px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    padding: 25px 60px;
    border-radius: 35px;
    background: rgb(194, 202, 203);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* background: linear-gradient(90deg, rgb(217, 235, 228), rgb(187, 248, 229)); */
    /* background: rgba(0, 0, 0, 0.5); */
}

.contact-form [type=submit] {
    height: 40px;
    width: 250px;
    position: absolute;
    color: #fff;
    font-size: 15px;
    background: rgb(79, 120, 107);
    cursor: pointer;
    border-radius: 25px;
    margin-left: 20px;
    border: none;
    outline: none;
    margin-top: 3%;
}

.form-group input {
    width: 100%;
    margin-bottom: 15px;
}

.form-group label {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-weight: bold;
    color: black;
}

.form-group input[type=email],
.form-group input[type=password],
.form-group input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.footer {
    position: absolute;
    margin-top: 950px;
    width: 100%;
}

.password-input {
    position: relative;
}

.eye {
    position: relative;
    right: -250px;
    transform: translateY(-200%);
    cursor: pointer;
}

p {

    margin-top: 80px;
    margin-bottom: -5px;
}