body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.col-md-1,
.col-md-8 {
  padding: 10px;
}

h1.blog-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.ImageBanner img {
  border-radius: 8px;
  margin-bottom: 20px;
}

.author {
  font-weight: bold;
  color: #333;
}

.time {
  font-size: 0.9em;
  color: #999;
}

hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

p {
  line-height: 1.6;
  color: #444;
}

.share {
  background: rgb(79, 120, 107);
  align-items: center;
  margin-right: 30px;
}

a.txt {
  text-decoration: none;
  color: #007bff;
  display: flex;
  align-items: center;
}

a.txt mat-icon {
  margin-right: 5px;
}

.share-buttons {
  display: inline-block;
  margin: 5px;
}

.share-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fb {
  margin-left: 350px;
  background: #4267b2;
}
.twtr {
  background: #1da1f2;
}
.whtsp {
  background: #25d366;
}

.copy {
  background: orange;
}

@media only screen and (max-width: 420px) {
  .fb {
    margin-left: 25px;
  }
}
@media only screen and (max-width: 420px) {
  .fb,
  .twtr,
  .whtsp,
  .copy {
    margin-right: 15px;
  }
}
