h1{
    color:black;
}
p{
    color: black;
    font-size: 15px;
}
.m1 {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-title{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    text-align: justify;
}
.author{
    color: blue;
    font-size: 18px;
    cursor: pointer;
}

.txt {
    color: white;
    background: rgb(79, 120, 107);
    border-radius: 25px;
    margin: 20px;

}

.txt:hover {
    color: green;
    background: #fff;
}

.share{
    background: rgb(79, 120, 107);
    align-items: center;
    margin-right: 30px;

}

.fb{
    margin-left: 350px;
    background: #4267B2
}
.twtr{
    background: #1DA1F2;

}
.whtsp{
    background: #25D366;
}

.copy{
    background: orange;
}

@media only screen and (max-width: 420px) {
    .fb{
        margin-left: 25px;
    }
    
}
@media only screen and (max-width: 420px) {
    .fb,.twtr, .whtsp, .copy {
        margin-right: 15px;
    }

}