.content {
    flex: 1 1 auto;
}

.example-card {
    width: 320px;
    height: 450px;
    margin-bottom: 8px;
    border-radius: 25px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(1px);
    background: rgb(218, 225, 226);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.ng-card{
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 1rem;
    flex-wrap: wrap;
}

.desc p{
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
a{
    color: white;
    background: rgb(91, 95, 95);
    border-radius: 25px;
}

.blog-title{
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.mt-3{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
}

.m1 {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fas{
    margin-bottom: 10px;
}

@media screen and (max-width: 820px) {
    .container {
        margin-left: 0px;

    }
}
@media screen and (max-width: 820px) {
    .ng-card {
        display: flex;
            flex-direction: row;
            margin: 5px;
            margin-left: 35px;
            margin-top: 20px;
            gap: 1rem;
            flex-wrap: wrap;


    }
}

@media screen and (max-width: 767px) {
    .content {
        margin-left: -9px;
    }
}

@media screen and (max-width: 360px) {
    .container {
        margin-right: 50px;
        
    }
}