<div>
  <div>
    <app-image-carousel></app-image-carousel>

  </div>

  <div class="content container">
    <div class="ng-card">
      <div class="row" *ngFor="let post of postDetail">
        <div class="blogpost">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title class="blog-title"><b>{{post.title}}</b></mat-card-title>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content class="desc">
              <div class="mt-3">
                <img mat-card-image [src]="post?.postImages[0]?.url" height="200px" width="270px" alt="">
              </div>
              <p [innerHTML]="post.content"></p>
            </mat-card-content>
            <div>
              <i class="fas fa-user"> Author:<span>&nbsp; {{post.username}}</span></i>
            </div>
            <div class="read-more">
              <a mat-button href="/post/{{post.id}}" class="read-more btn btn-default"> Read More</a>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="m1"></div>
<app-footer></app-footer>