.m1 {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(86, 99, 95);
    color: white;
    padding: 20px;
    text-align: center;
}

.main {
    padding: 20px;
}

.profile-pic {
    float: left;
    margin-right: 20px;
}

.bio {
    overflow: auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}