
<mat-toolbar class="header-bg">
    <img routerLink="/landing-page" src="assets/images/logo.png" class="logo" alt="">
    <div class="spacer"></div>
    
    <div class="dropdown">
        <a mat-button  class=" dropdown-button user txt" *ngIf="isLoggedIn()" mat-button routerLinkActive="active">
            <mat-icon>account_circle</mat-icon> Hello, {{username |slice:0:10}}
        </a>
        <div class="dropdown-menu">
            <a mat-menu-item *ngIf="isLoggedIn()" class="txt" routerLink="/dashboard">Dashboard
            </a>
            <a mat-menu-item class="logout" style="font-family: 'Lucida Console';" routerLink="/sign-up" *ngIf="isLoggedIn()"
                (click)="logout()">Logout</a>
        </div>
    </div>


</mat-toolbar>


