.spacer {
    flex: 1 1 auto;
}

a {
    color:black;
    text-decoration: none;
    text-align: center;
}

.txt {
    color: white;
    background: rgb(79, 120, 107);
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;

}

.txt:hover {
    color: green;
    background: #fff;
}
.logo {
    font-size: 35px;
    font-family: 'Paytone One';
    color: black
}

.header-bg {
    background: linear-gradient(90deg, rgb(4, 4, 4), rgb(129, 150, 143));
    background-size: cover;

}

.logo {
    width: 180px;
}
.logo:hover{
    cursor: pointer;
}
.logout {
    color: white;
    background: rgb(79, 120, 107);
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;

}

.logout:hover {
    color: white;
    background:rgb(176, 4, 4);
}



.dropdown {
    position: relative;
}

.dropdown-menu {
    width: 100px;
    height: 120px;
    display: none;
    left: 10%;
    top: 50;
    position: absolute;
    background-color: transparent;
}
.dropdown-menu a {
    display: flex;
    flex-direction: column;
}
.dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 600px) {
   .dropdown:hover .dropdown-menu {
        display: block;
    }
}